.card {
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 400px;
    margin: auto;
  }
  .card img {
    width: 100%;
  }
  