.header {
  padding: 10px;
  border-bottom: 1px solid #666666;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.Navlink {
  border: 1px solid black;
  padding: 10px;
  text-decoration: none;
  border: none;
  color: green;
  border-radius: 10px;
}